spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: pedidos
          uri: lb://mspedido
          predicates:
            - Path=/pedidos/**
        - id: produtos
          uri: lb://msproduto
          predicates:
            - Path=/produtos/**
server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
